<!DOCTYPE html> <!-- lets the browser know what html version we are using -->
<html>
    <head>
        <meta charset="utf-8"> <!-- let the browser knows how to render the charecter -->
        <title>Maintenance Page</title>
    </head>
    <body> <!-- everyrhing we want to render to the screen -->
        <h1>BRB
            <p>
                Tis site is currently being upgated.
            </p>
        </h1>
    </body>
</html>