<!DOCTYPE html> <!-- lets the browser know what html version we are using -->
<html>
    <head>
        <meta charset="utf-8"> <!-- let the browser knows how to render the charecter -->
        <title>Projects Page</title>
    </head>
    <body> <!-- everyrhing we want to render to the screen -->
        {{> header}}
        <p>Project text</p>

        {{> footer}}
    </body>
</html>